---
import { Image } from "astro:assets";
import HansAubsHome from "../../../src/images/project/HansAubsHome.png";
import HansAubsLab from "../../../src/images/project/HansAubsLab.png";
import HansAubsForge from "../../../src/images/project/HansAubsForge.png";
---

<style>
  /* Adjust the drawer content to appear above other elements */
  .drawer-content {
    z-index: 0; /* High value to ensure it's above others */
    touch-action: auto !important;
  }
</style>

<div class="graphics drawer drawer-end">
  <input id="graphics-drawer" type="checkbox" class="drawer-toggle" />
  <div class="graphics-content drawer-content">
    <!-- Page content here -->
    <div class="flex flex-row mb-2">
      <p class="font-semibold mt-4 sm:text-xl text-md grow w-50">
        WebGL/ThreeJS Graphics Experiment
      </p>
      <label
        id="graphics-open-button"
        for="graphics-drawer"
        class="w-12 btn btn-sm btn-primary-content mt-4 font-bold rounded-full"
        >🔗</label>
    </div>
  </div>
  <div class="drawer-side">
    <label
      id="graphics-close-button"
      for="graphics-drawer"
      aria-label="close sidebar"
      class="drawer-overlay"></label>
    <ul
      class="menu p-4 sm:w-8/12 w-11/12 min-h-full bg-base-200 text-base-content"
    >
      <!-- Sidebar content here -->
      <div class="my-2 sm:text-lg text-md">
        <h1 class="mb-2 font-bold">
          The Forge: An Immersive Audio-Visual Experience
        </h1>
        <p class="mb-2">
          "The Forge" is an innovative project that invites users into a
          captivating world of dynamic visuals and soundscapes. This endeavor
          explores the intersection of computer graphics and audio processing,
          featuring elements such as audio visualizers, shaders, procedural
          generation, and textures. The goal is to create an interactive,
          visually striking experience that responds to real-time audio input.
        </p>

        <Image
          src={HansAubsHome}
          alt="HansAubsHome"
          class="w-full my-2 rounded-lg border-2 border-primary"
        />

        <h1 class="mb-2 font-bold">Project Foundation</h1>
        <p class="mb-2">
          The foundation of The Forge is firmly established on the robust
          framework of Three.js, a JavaScript library renowned for its
          capability to generate stunning 3D graphics within web browsers, and
          WebGL for more complex implementations. By harnessing the power of
          Three.js, my project gains access to a vast array of tools and
          functionalities essential for rendering intricate 3D scenes and
          animations with precision and efficiency. This library serves as the
          cornerstone of my endeavor, empowering me to bring my creative visions
          to life and imbue my project with immersive visual elements that
          captivate and engage my audience. With Three.js at the helm, I am
          equipped to push the boundaries of web-based 3D graphics, unlocking a
          realm of endless possibilities for innovation and exploration within
          The Forge.
        </p>

        <Image
          src={HansAubsLab}
          alt="HansAubsLab"
          class="w-full my-2 rounded-lg border-2 border-primary"
        />

        <h1 class="mb-2 font-bold">Real-Time Audio Visualization</h1>
        <p class="mb-2">
          One of the core features of The Forge is its real-time audio
          visualization capability. Audio inputs drive the animation and scene
          visuals, creating a dynamic and responsive environment. This
          integration transforms sound into visual art, making the experience
          both interactive and immersive.
        </p>

        <h1 class="mb-2 font-bold">Procedural Generation</h1>
        <p class="mb-2">
          In my project, procedural generation techniques are pivotal in
          crafting a truly immersive and personalized visual journey for each
          user. By dynamically generating textures and shapes that evolve in
          response to user interaction and audio input, I ensure that no two
          experiences are alike. This dynamic evolution introduces an element of
          unpredictability, keeping users engaged and intrigued as they explore
          the ever-shifting visual landscape. Moreover, the personalized
          adaptation of the visuals to each individual user's actions and
          preferences enhances immersion, fostering a deeper connection to the
          virtual environment. Through procedural generation, I create a
          one-of-a-kind experience that not only captivates users with its
          visual splendor but also invites them on a uniquely personal and
          unforgettable journey of exploration and discovery.
        </p>

        <Image
          src={HansAubsForge}
          alt="HansAubsForge"
          class="w-full my-2 rounded-lg border-2 border-primary"
        />

        <h1 class="mb-2 font-bold">Shaders and GPU Utilization</h1>
        <p class="mb-2">
          Shaders, integral to modern computer graphics, are miniature programs
          executed on the Graphics Processing Unit (GPU) that play a pivotal
          role in The Forge, a software framework or game engine, by enabling
          the creation of intricate visuals like reflections, refractions, and
          lifelike lighting effects. These shaders, designed to manipulate the
          appearance of objects and surfaces in 3D scenes, are essential for
          enhancing visual complexity and realism. Reflections on shiny
          surfaces, refractions through transparent materials, and the nuanced
          interplay of light and shadow are all achieved through the adept use
          of shaders. By simulating how light interacts with the environment,
          shaders contribute to the immersive experience, elevating the quality
          of rendered scenes. Furthermore, optimization ensures smooth
          performance, even in scenes with multiple visual effects, maintaining
          a high frame rate and delivering a seamless gaming or interactive
          experience that captivates players and audiences alike.
        </p>

        <h1 class="mb-2 font-bold">Accessibility and Versatility</h1>
        <p class="mb-2">
          One of the standout features of The Forge is its accessibility. As a
          browser-based experience, users can easily immerse themselves in the
          visuals and sounds from any location or device with an internet
          connection. This versatility ensures that the experience is available
          to a broad audience without the need for specialized hardware or
          software.
        </p>

        <h1 class="mb-2 font-bold">Continuous Development</h1>
        <p class="mb-10">
          The Forge represents a blend of cutting-edge technology and creative
          expression. By combining Three.js, Blender, real-time audio
          visualization, procedural generation, and shaders, we created an
          interactive and dynamic environment. This project highlights the
          potential of web-based technologies to deliver rich, immersive
          experiences.
        </p>
      </div>
    </ul>
  </div>
</div>
