<style>
  /* Adjust the drawer content to appear above other elements */
  .drawer-content {
    z-index: 0; /* High value to ensure it's above others */
  }
</style>

<div class="drawer drawer-end">
  <input id="maze-drawer" type="checkbox" class="drawer-toggle" />
  <div class="maze-content drawer-content">
    <!-- Page content here -->
    <label
      id="maze-open-button"
      for="maze-drawer"
      class="w-full btn sm:btn-lg btn-sm btn-primary-content mt-4 font-bold"
      >LiDAR Driven Maze Robot</label
    >
  </div>
  <div class="drawer-side">
    <label
      id="maze-close-button"
      for="maze-drawer"
      aria-label="close sidebar"
      class="drawer-overlay"></label>
    <ul class="menu p-4 w-11/12 min-h-full bg-base-200 text-base-content">
      <!-- Sidebar content here -->
      <div class="my-2">
        <h1 class="mb-2 font-bold"></h1>
        <p class="mb-2"></p>

        <h1 class="mb-2 font-bold"></h1>
        <p class="mb-2"></p>
        <h1 class="mb-2 font-bold"></h1>
        <p class="mb-2"></p>

        <h1 class="mb-2 font-bold"></h1>
        <p class="mb-2"></p>

        <h1 class="mb-2 font-bold"></h1>
        <p class="mb-2"></p>
      </div>
    </ul>
  </div>
</div>

<script>
  const mazeOpenDrawer = document.getElementById("maze-open-button");
  const mazeCloseDrawer = document.getElementById("maze-close-button");

  const graphicsContent = document.querySelector(
    ".graphics-content.drawer-content"
  );

  const strandbeestContent = document.querySelector(
    ".strandbeest-content.drawer-content"
  );

  const baseballContent = document.querySelector(
    ".baseball-content.drawer-content"
  );

  mazeOpenDrawer?.addEventListener("click", () => {
    // Check if nvidiaOpenDrawer is defined before accessing its style property
    if (graphicsContent && strandbeestContent && baseballContent) {
      // @ts-ignore
      graphicsContent.style.zIndex = -1;
      // @ts-ignore
      strandbeestContent.style.zIndex = -1;
      // @ts-ignore
      baseballContent.style.zIndex = -1;
    } else {
      console.error("nvidiaOpenDrawer is undefined");
    }
  });

  mazeCloseDrawer?.addEventListener("click", () => {
    // Check if nvidiaOpenDrawer is defined before accessing its style property
    if (graphicsContent && strandbeestContent && baseballContent) {
      // @ts-ignore
      graphicsContent.style.zIndex = 0;
      // @ts-ignore
      strandbeestContent.style.zIndex = 0;
      // @ts-ignore
      baseballContent.style.zIndex = 0;
    } else {
      console.error("tesla1CloseDrawer is undefined");
    }
  });
</script>
