---
import Navbar from "../layouts/Navigation.astro";
import Footer from "../layouts/Footer.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <Navbar>
    <div class="sm:px-20">
      <h1 class="font-semibold sm:text-4xl text-2xl py-2 px-6">About</h1>
      <p class="mt-2 px-6 sm:text-2xl text-md">
        I am a
        <span class="text-primary">software engineer</span> with a background in
        <span class="text-primary">mechanical engineering</span>
        and a passion for developing innovative solutions. I graduated from Texas
        A&M university in fall of 2023 with a B.S. in Honors Mechanical Engineering
        and a minor in Computer Science. I am now pursuing a M.S in Robotics and
        Control Systems at Carnegie Mellon University. My hobbies include playing
        basketball and soccer or creating anything whether that is developing software
        or creating artwork. I also love beer🍺 and exploring local breweries.
      </p>
      <div class="p-6 sm:text-lg text-sm">
        <div class="mockup-code border-2 border-primary">
          <pre data-prefix="$"><code>sudo install rohxnsxngh</code></pre>
          <pre
          data-prefix=">"
          class="text-error"
        ><code>243 MB of disk space required😇</code></pre>
          <pre
            data-prefix=">"
            class="text-warning"><code>installing...</code></pre>
          <pre data-prefix=">" class="text-success"><code>Done!</code></pre>
        </div>
      </div>
    </div>
  </Navbar>
  <Footer />
</Layout>
