---
import Navbar from "../layouts/Navigation.astro";
import Footer from "../layouts/Footer.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <Navbar>
    <div class="sm:px-20 px-6">
      <h1 class="font-semibold sm:text-4xl text-2xl py-2 tracking-wider">
        About
      </h1>

      <div class="mt-4 sm:text-lg text-md relative text-justify">
        <p>
          I was born in Goa, India, and moved to the U.S. when I was around
          eight years old. Growing up, I was always drawn to two things—sports
          and building. Tennis and soccer were my first obsessions, and I poured
          countless hours into them, eventually walking onto Texas A&M’s
          Division 1 tennis team before COVID changed everything. That shift
          pushed me to channel my competitive drive into something else:
          engineering. Whether it was coding, designing, or breaking things
          apart just to understand how they worked, I found the same thrill in
          building that I once did in sports.
        </p>
      </div>

      <p class="mt-6 sm:text-lg text-md text-justify">
        That passion led me to Texas A&M, where I earned a B.S. in Honors
        Mechanical Engineering with a minor in Computer Science. Now, at
        Carnegie Mellon University, I’m diving deep into AI, robotics, and
        control systems—exploring how machines can learn and adapt in dynamic
        environments. Beyond academics, I’ve always been drawn to the startup
        world, constantly thinking about how to bridge AI with engineering in
        meaningful ways. When I’m not working on projects, you'll find me
        playing pickup basketball, exploring new breweries, or just
        creating—whether it’s software, art, or something completely unexpected.
      </p>

      <div class="p-6 sm:text-base text-sm">
        <div class="mockup-code border-2 border-primary bg-black">
          <pre data-prefix="$"><code>sudo install rohxnsxngh</code></pre>
          <pre
            data-prefix=">"
            class="text-error"><code>243 MB of disk space required😇</code></pre>
          <pre
            data-prefix=">"
            class="text-warning"><code>installing...</code></pre>
          <pre data-prefix=">" class="text-success"><code>Done!</code></pre>
        </div>
      </div>
    </div>
  </Navbar>
  <Footer />
</Layout>
