---
import Navbar from "../layouts/Navigation.astro";
import Footer from "../layouts/Footer.astro";
import Layout from "../layouts/Layout.astro";
import Nvidia from "../components/experience/Nvidia.astro";
import Toyota from "../components/experience/Toyota.astro";
import Tesla1 from "../components/experience/Tesla1.astro";
import Tesla2 from "../components/experience/Tesla2.astro";
---

<Layout>
  <Navbar>
    <div class="sm:px-20 px-6 py-2">
      <h1 class="font-semibold sm:text-4xl text-2xl">Experiences</h1>
      <div class="">
        <Toyota />
        <Tesla1 />
        <Tesla2 />
        <!-- <Nvidia /> -->
      </div>
    </div>
  </Navbar>
  <Footer />
</Layout>
