---
import Navbar from '../components/Navigation.astro'
---

<html>
<head>
  <title>My Astro Website</title>
  <style>

  </style>
</head>
<body>
  <Navbar />
  <h1>Welcome to my website</h1>
  <p>This is the homepage of my Astro website.</p>
</body>
</html>
