---
import Navbar from "../layouts/Navigation.astro";
import Footer from "../layouts/Footer.astro";
import Layout from "../layouts/Layout.astro";
import EchocardiagramMLResearch from "../components/research/EchocardiagramMLResearch.astro";
---

<Layout>
  <Navbar>
    <div class="sm:px-20 px-6 py-2">
      <h1 class="font-semibold sm:text-4xl text-2xl tracking-wider">Research</h1>
      <EchocardiagramMLResearch />
    </div>
  </Navbar>
  <Footer />
</Layout>
