---
import { Image } from "astro:assets";
import ResearchUNET from "../../../src/images/project/ResearchUNET.jpg";
import ResearchCustomStrats from "../../../src/images/project/ResearchCustomStrats.jpg";
---

<style>
  /* Adjust the drawer content to appear above other elements */
  .drawer-content {
    z-index: 0; /* High value to ensure it's above others */
  }
</style>

<div class="drawer drawer-end">
  <input id="ec-drawer" type="checkbox" class="drawer-toggle" />
  <div class="ec-content drawer-content">
    <!-- Page content here -->
    <div class="flex flex-row mb-2">
      <p class="font-semibold mt-4 sm:text-xl text-md grow w-50">
        Echocardiography Segmentation with Machine Learning
      </p>
      <label
        id="ec-open-button"
        for="ec-drawer"
        class="w-12 btn btn-sm btn-primary-content mt-4 font-bold rounded-full"
        >🔗</label>
    </div>
  </div>
  <div class="drawer-side">
    <label
      id="ec-close-button"
      for="ec-drawer"
      aria-label="close sidebar"
      class="drawer-overlay"></label>
    <ul
      class="menu p-4 sm:w-8/12 w-11/12 min-h-full bg-base-200 text-base-content"
    >
      <!-- Sidebar content here -->
      <div class="my-2 sm:text-lg text-md">
        <h1 class="mb-2 font-bold">
          Machine Learning Research: Advancing Echocardiography Segmentation
        </h1>
        <p class="mb-2">
          Under the mentorship of Dr. Iman Borazjani, I engaged in a
          collaborative research endeavor focused on applying machine learning
          techniques to echocardiography segmentation. Our goal was to identify
          critical cardiac structures such as the mitral and aortic valves, left
          atrium, and left ventricle walls within echocardiographic images,
          aiming to enhance diagnostic accuracy and efficiency in cardiac
          imaging.
        </p>

        <h1 class="mb-2 font-bold">Contributions and Implementation</h1>
        <p class="mb-2">
          My contributions to the project encompassed the implementation of a
          comprehensive set of image preprocessing techniques, including
          normalization, noise reduction, and contrast enhancement.
          Specifically, I focused on deploying the U-Net architecture, renowned
          for its effectiveness in biomedical segmentation tasks. Collaborating
          closely with PhD students, I adapted the U-Net model to our
          echocardiography segmentation project, broadening my proficiency in
          cutting-edge deep learning architectures.
        </p>

        <Image
          src={ResearchUNET}
          alt="ResearchUNET"
          class="w-full my-2 rounded-lg border-2 border-primary"
        />

        <h1 class="mb-2 font-bold">Achievements and Milestones</h1>
        <p class="mb-2">
          The research focuses on achieving accurate segmentation through a
          combination of thresholding, clustering algorithms, and feature
          extraction techniques. This approach ensures that the identified
          cardiac structures are precisely delineated from the surrounding image
          data. To optimize the segmentation model's performance, methodologies
          such as transfer learning are leveraged. This technique allows the
          model to benefit from pre-existing knowledge captured in a pretrained
          U-Net model, enhancing its ability to accurately segment cardiac
          structures in medical images. Additionally, spatial alignment
          techniques are employed to refine the shape and size of identified
          cardiac structures. This involves the use of image registration
          methods and morphological operations to ensure accurate alignment and
          delineation of anatomical features within the images. These
          advancements in image segmentation methodology contribute to the
          development of more precise and reliable tools for medical image
          analysis, with potential applications in diagnosis and treatment
          planning.
        </p>

        <Image
          src={ResearchCustomStrats}
          alt="ResearchCustomStrats"
          class="w-full my-2 rounded-lg border-2 border-primary"
        />

        <h1 class="mb-2 font-bold">Impact and Future Directions</h1>
        <p class="mb-2">
          Our research endeavors are poised to make significant strides in
          advancing diagnostic tools and techniques in medical imaging. Through
          the utilization of machine learning and image analysis techniques, our
          goal is to enhance the efficiency and accuracy of echocardiography
          segmentation. This improvement will ultimately translate into tangible
          benefits for patient care, enabling more precise diagnoses and
          treatment planning. Furthermore, by driving innovation in healthcare
          through the development of advanced imaging technologies, we aim to
          contribute to the broader landscape of medical innovation and improve
          healthcare outcomes for patients worldwide.
        </p>

        <h1 class="mb-2 font-bold">Conclusion</h1>
        <p class="mb-2">
          The collaborative research project under Dr. Iman Borazjani's
          mentorship provided invaluable insights into the application of
          machine learning in medical imaging. Through meticulous
          experimentation and implementation of advanced techniques, we are
          poised to make meaningful contributions to the field of cardiac
          imaging, highlighting the profound impact of machine learning on
          healthcare innovation.
        </p>
      </div>
    </ul>
  </div>
</div>

<script></script>
