<div>
  <p class="py-6 px-6 sm:text-2xl text-md">
    I am a
    <span class="text-primary">software engineer</span> with a background in
    <span class="text-primary">mechanical engineering</span>
    and a passion for developing innovative solutions. My experience in engineering
    has given me a solid foundation in the principles of robotics, mechatronics,
    and dynamics, which I have applied to my work in software development. In my
    free time, I enjoy exploring new developments in robotics and mechatronics, and
    applying my skills to personal projects that challenge me to learn and grow.
  </p>
</div>
