<div class="hero min-h-screen bg-base-200">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <label class="swap swap-flip text-9xl">
      <!-- this hidden checkbox controls the state -->
      <input type="checkbox" />

      <div class="swap-on">
        <img
          src="/public/images/profile.jpg"
          class="max-w-sm rounded-full shadow-2xl sm:h-96 h-36 border border-primary hover:border-4"
        />
      </div>
      <div class="swap-off">
        <img
          src="/public/images/RS.jpg"
          class="max-w-sm rounded-full shadow-2xl sm:h-96 h-36 border border-primary hover:border-4"
        />
      </div>
    </label>

    <div>
      <p class="py-6 px-6 sm:text-2xl text-md">
        I am a
        <span class="text-primary">software engineer</span> with a background in
        <span class="text-primary">mechanical engineering</span>
        and a passion for developing innovative solutions. My experience in engineering
        has given me a solid foundation in the principles of robotics, mechatronics,
        and dynamics, which I have applied to my work in software development. In
        my free time, I enjoy exploring new developments in robotics and mechatronics,
        and applying my skills to personal projects that challenge me to learn and
        grow.
      </p>
    </div>
  </div>
</div>
