<details
  class="collapse bg-inherit rounded-lg border border-primary-content my-4 hover:border-2 shadow-2xl"
>
  <summary class="collapse-title sm:text-xl text-md font-medium text-primary"
    >Nvidia
    <span class="float-right text-xs text-white mt-1"
      >May 2021 - August 2021.</span
    ></summary
  >
  <div class="collapse-content">
    <h1 class="text-sm">Computer Aided Design Engineer Intern</h1>
    <div class="p-6">
      <ul
        class="font-normal sm:text-md sm:text-md text-sm text-white h-fit list-disc list-outside"
      >
      <li class="text-primary">
        <div class="text-white">
          Developed and implemented C++ scripts to automate tasks
          within CAD software, improving efficiency and productivity
          by 15%.
        </div>
      </li>
      <li class="text-primary">
        <div class="text-white">
          Applied Geometric Dimensioning and Tolerancing (GD&T)
          principles to ensure accurate representation of tolerances
          and dimensions in CAD models and drawings.
        </div>
      </li>
      <li class="text-primary">
        <div class="text-white">
          Incorporated Design for Manufacturability (DFM) principles
          into CAD design processes, optimizing designs for efficient
          and cost-effective manufacturing.
        </div>
      </li>
      <li class="text-primary">
        <div class="text-white">
          Built detailed 3D models of equipment and data center
          layouts, ensuring precision and adherence to project
          specifications.
        </div>
      </li>
      <li class="text-primary">
        <div class="text-white">
          Proficient in utilizing industry-standard 3D CAD software,
          including Creo, Windchill, SolidWorks, and Fusion 360, for
          designing and modeling complex mechanical systems and
          components.
        </div>
      </li>
      </ul>
    </div>
  </div>
</details>
