<details
  class="collapse bg-inherit rounded-lg border border-primary-content my-4 hover:border-2 shadow-2xl"
>
  <summary class="collapse-title sm:text-xl text-md font-medium text-primary"
    >Tesla
    <span class="float-right text-xs text-white mt-1"
      >May 2023 - September 2023.</span
    ></summary
  >
  <div class="collapse-content">
    <h1 class="text-sm">Software Engineering Intern</h1>
    <div class="p-6">
      <ul
        class="font-normal sm:text-md sm:text-md text-sm text-white h-fit list-disc list-outside"
      >
        <li class="text-primary">
          <div class="text-white">
            Automated and optimized Revit model extraction, reducing manual
            tasks from 12 hours to minutes and processing 20-25 Revit models in
            50 minutes, all while maintaining scalability and cost-efficiency.
          </div>
        </li>
        <li class="text-primary">
          <div class="text-white">
            Developed a robust, user-friendly tool featuring automatic
            synchronization, error logging, persistent background jobs, and a
            custom frontend with real-time status updates on the Revit
            extraction tool, enhancing accessibility and transparency for users.
          </div>
        </li>
        <li class="text-primary">
          <div class="text-white">
            Employed alternative to Autodesk Forge Flex tokens for
            cost-effective operation, managing expenses at $30/day per token,
            resulting in potential annual cost savings ranging from $163,800 (15
            tokens) to $491,400 (45 tokens) for minimal usage, while ensuring
            scalability with increased factory projects.
          </div>
        </li>
        <li class="text-primary">
          <div class="text-white">
            Assisted development of a cutting-edge tracking service utilizing
            Golang and leveraging the Ericsson network's 5G capabilities to
            monitor and optimize the real-time movements of AGVs, cranes,
            vehicles, and other assets, enhancing operational efficiency and
            asset management.
          </div>
        </li>
        <li class="text-primary">
          <div class="text-white">
            Provided comprehensive frontend development support using ReactJS,
            Python, and Deck.gl to visualize the data extracted by the Revit
            extraction tool, seamlessly transforming it into GeoJSON format and
            rendering it in a dynamic 3D display, enhancing data visualization
            and user interaction.
          </div>
        </li>
      </ul>
    </div>
  </div>
</details>