<details
  class="collapse bg-inherit rounded-lg border border-primary-content my-4 hover:border-2 shadow-2xl"
>
  <summary class="collapse-title sm:text-xl text-md font-medium text-primary"
    >Tesla
    <span class="float-right text-xs text-white mt-1"
      >January 2022 - September 2022.</span
    ></summary
  >
  <div class="collapse-content">
    <h1 class="text-sm">Software Engineering Intern</h1>
    <div class="p-6">
      <ul
        class="font-normal sm:text-md sm:text-md text-sm text-white h-fit list-disc list-outside"
      >
        <li class="text-primary">
          <div class="text-white">
            Collaborated with software engineers to develop and test application
            procedures for system efficiency.
          </div>
        </li>
        <li class="text-primary">
          <div class="text-white">
            Assisted in implementing a project tracking system that has tracked
            over 30,000+ scopes worth over $300 million across GigaTexas from
            start to finish. This system tracks labor, reports spending,
            forecasts for funding, and has project controls in place to identify
            work at risk.
          </div>
        </li>
        <li class="text-primary">
          <div class="text-white">
            Developed dashboards, reports, and other tools that provide
            visibility and transparency to project productivity, progress,
            changes, and KPI to ensure alignment with project goals by utilizing
            web development and embedded Power BI.
          </div>
        </li>
        <li class="text-primary">
          <div class="text-white">
            Assisting the Texas Giga Factory BIM team who is responsible for
            managing the digital model and data representations of the factory
            and its productions assets used by engineering, construction,
            manufacturing, and operations teams.
          </div>
        </li>
        <li class="text-primary">
          <div class="text-white">
            Providing design and construction coordination services aimed at
            maximizing constructability, safety, maintainability, and future
            factory expansion options. Implementing myriad of technology and
            processes used to maintain all factory models and their associated
            data in as close to real-time as possible.
          </div>
        </li>
        <li class="text-primary">
          <div class="text-white">
            Using LIDAR scanning and reality capture with Cintoo to map the
            factory and resolve clashes.
          </div>
        </li>
      </ul>
    </div>
  </div>
</details>
