<details
  class="collapse bg-inherit rounded-lg border border-primary-content my-4 hover:border-2 shadow-2xl"
>
  <summary class="collapse-title sm:text-xl text-md font-medium text-primary"
    >Toyota
    <span class="float-right text-xs text-white mt-1">Aug. 2023 - Current.</span
    ></summary
  >
  <div class="collapse-content">
    <h1 class="text-sm">Software Systems Engineer</h1>
    <div class="p-6">
      <ul
        class="font-normal sm:text-md sm:text-md text-sm text-white h-fit list-disc list-outside"
      >
        <li class="text-primary">
          <div class="text-white">
            Developed and maintained software applications for in-vehicle
            infotainment systems, enhancing user experience and delivering
            features such as navigation, entertainment, and connectivity.
          </div>
        </li>
        <li class="text-primary">
          <div class="text-white">
            Led software integration efforts, facilitating seamless
            communication between various vehicle components, including sensors,
            ECUs, and telematics modules, optimizing system performance.
          </div>
        </li>
        <li class="text-primary">
          <div class="text-white">
            Conducted system-level testing, validation, and troubleshooting to
            identify and resolve software defects, resulting in improved
            software quality and reduced production delays.
          </div>
        </li>
        <li class="text-primary">
          <div class="text-white">
            Demonstrated proficiency in programming languages such as C/C++ and
            Python, as well as familiarity with real-time operating systems
            (RTOS) like AUTOSAR.
          </div>
        </li>
        <li class="text-primary">
          <div class="text-white">
            Collaborated closely with the Software Reliability Engineering team,
            leveraging tools such as MongoDB Charts and Datadog to debug and
            pinpoint issues. This collaboration enhanced our ability to monitor
            system health, identify potential reliability issues, and implement
            proactive measures to ensure the robustness of in-vehicle software.
          </div>
        </li>
      </ul>
    </div>
  </div>
</details>
