<details class="collapse bg-inherit rounded-lg border border-primary my-4 px-4">
  <summary class="collapse-title text-xl font-medium"
    >Toyota<span class="float-right">hello</span></summary
  >
  <div class="collapse-content">
    <p>content</p>
  </div>
</details>
