---
import { Image } from "astro:assets";
import NvidiaLogo from "../../../src/images/experience/nvidia/NvidiaLogo.png";
import NvidiaCAD from "../../../src/images/experience/nvidia/NvidiaCAD.png";
---

<style>
  /* Adjust the drawer content to appear above other elements */
  .drawer-content {
    z-index: 0; /* High value to ensure it's above others */
    touch-action: auto !important;
  }
</style>

<div class="nvidia drawer drawer-end">
  <input id="nvidia-drawer" type="checkbox" class="drawer-toggle" />
  <div class="nvidia-content drawer-content">
    <!-- Page content here -->
    <div class="flex flex-row mb-2">
      <p class="font-semibold mt-4 sm:text-xl text-md grow w-50">Computer Aided Design Engineering Intern @ Nvidia</p>
      <label
        id="nvidia-open-button"
        for="nvidia-drawer"
        class="w-12 btn btn-sm btn-primary-content mt-4 font-bold rounded-full"
        >🔗</label>
    </div>
    <span class="text-xs float-right italic font-thin"
      >May 2021 - August 2021</span
    >
  </div>
  <div class="drawer-side">
    <label
      id="nvidia-close-button"
      for="nvidia-drawer"
      aria-label="close sidebar"
      class="drawer-overlay"></label>
    <ul
      class="menu p-4 sm:w-8/12 w-11/12 min-h-full bg-base-200 text-base-content"
    >
      <!-- Sidebar content here -->
      <div class="my-2 sm:text-lg text-md">
        <h1 class="mb-2 font-bold">
          My Adventure at Nvidia: A Summer as a CAD Engineering Intern
        </h1>
        <p class="mb-2">
          I had the amazing opportunity to intern at Nvidia as a Computer-Aided
          Design (CAD) Engineering Intern. It was the perfect mix of tackling
          technical challenges and having fun, making the whole experience
          unforgettable.
        </p>

        <Image
          src={NvidiaLogo}
          alt="Nvidia Logo"
          class="w-full my-2 rounded-lg border-2 border-primary"
        />

        <h1 class="mb-2 font-bold">Automating Tasks with C++ Scripts</h1>
        <p class="mb-2">
          One of the first projects I jumped into was creating and implementing
          C++ scripts to automate tasks in our CAD software. It was like having
          a magic wand to handle all the repetitive, boring stuff. These scripts
          boosted our efficiency and productivity by about 15%, giving us more
          time for the cool, detailed design work. Plus, it was my first time
          implemeting CAD scripting and using C++ in a real-world setting, and
          it was super exciting.
        </p>
        <h1 class="mb-2 font-bold">Cracking the Code of GD&T</h1>
        <p class="mb-2">
          Next, I dived into the world of Geometric Dimensioning and Tolerancing
          (GD&T). It might sound like a mouthful, but it’s all about making sure
          every little detail in our CAD models is spot-on. I quickly became the
          go-to person for ensuring our designs were precise and met all the
          necessary standards. It was like solving a puzzle, ensuring everything
          fit together perfectly.
        </p>
        <h1 class="mb-2 font-bold">Design for Manufacturability (DFM) Magic</h1>
        <p class="mb-2">
          Incorporating Design for Manufacturability (DFM) principles into our
          projects was another fascinating aspect of my role. Think of it as
          designing with a sprinkle of practicality – making sure our creations
          were not only awesome but also easy and cost-effective to manufacture.
          It was a bit like playing a strategic game, balancing creativity with
          real-world constraints.
        </p>

        <Image
          src={NvidiaCAD}
          alt="Nvidia CAD Image"
          class="w-full my-2 rounded-lg border-2 border-primary"
        />

        <h1 class="mb-2 font-bold">Crafting Detailed 3D Models</h1>
        <p class="mb-2">
          One of my favorite tasks was creating detailed 3D models of equipment
          and data center layouts. It was like being an architect in a digital
          world, ensuring every model was precise and aligned with project
          specifications.
        </p>
        <h1 class="mb-2 font-bold">Mastering CAD Software</h1>
        <p class="mb-2">
          Throughout my internship, I became very familiar with CAD software and
          practices, mastering tools like Creo, Windchill, SolidWorks, and
          Fusion 360. Each software had its quirks and superpowers, and getting
          the hang of them was both challenging and exhilarating. It felt like
          having a toolbox full of gadgets, each perfect for different design
          adventures.
        </p>
        <h1 class="mb-2 font-bold">Wrapping Up the Adventure</h1>
        <p class="mb-2">
          Looking back, my internship at Nvidia was an incredible journey. From
          automating tasks and perfecting designs to mastering cutting-edge
          software, I learned so much and had a blast doing it. This experience
          not only sharpened my skills but also fueled my passion for
          engineering design.
        </p>
      </div>
    </ul>
  </div>
</div>
