/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Satoshi';
        src: font-url('Fonts/Satoshi-Black.ttf') format('truetype')
    }
}