/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Satoshi-Black';
        src: font-url('/Fonts/Satoshi-Black.otf')
    }
}