<footer
  class="footer footer-center p-4 bg-base-300 text-base-content fixed bottom-0"
>
  <aside>
    <div class="flex">
      <div class="flex-none mr-12">
        <p class="">Copyright © 2024 - Rohan Singh</p>
      </div>
      <div class="grow">
   
      </div>
      <div class="flex-none">
        <ul class="flex justify-between mt-1 ml-6">
          <li class="mx-1">
            <a href="https://github.com/rohxnsxngh" class=""
              ><img src="/github.svg" class="invert hover:invert-0"/></a
            >
          </li>
          <li class="mx-1">
            <a
              href="https://www.linkedin.com/in/rohan-singh1122/"
              ><img src="/linkedin.svg" class="invert hover:invert-0" /></a
            >
          </li>
          <li class="ml-1">
            <a href="mailto:rohan.singh.do@example.com"
              ><img src="/google.svg" class="invert hover:invert-0"/></a
            >
          </li>
        </ul>
      </div>
    </div>
  </aside>
</footer>

